/* General Styles */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, sans-serif;
  background-color: #fff;
  color: #000;
}

a, .navbar-link {
  color: white;
  text-decoration: none;
  font-weight: bold;
}

a:hover, .navbar-link:hover {
  color: #ffcc00;
}

/* Buttons */
button, .optional-btn {
  padding: 10px 20px;
  background-color: #f0ad4e;
  border: none;
  color: white;
  cursor: pointer;
  margin-top: 10px;
}

button:hover, .optional-btn:hover {
  background-color: #ec971f;
}

/* App and Header */
.App, .header {
  text-align: center;
  padding: 20px;
  border-radius: 10px;
  background-color: #67AD5B;
  color: white;
  margin-bottom: 20px;
}

/* Navigation */
.navbar, nav {
  background-color: #333;
  padding: 1rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.navbar-links, ul {
  list-style-type: none;
  display: flex;
}

.navbar-item, li {
  margin-right: 2rem;
}

/* Form Styles */
.container, .app-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

form {
  max-width: 400px;
  padding: 30px;
  border: 1px solid #ccc;
  border-radius: 10px;
  background-color: #f9f9f9;
}

form h2, form h5 {
  text-align: center;
}

form div {
  margin: 10px 0;
}

form div label {
  width: 100px;
  margin-right: 10px;
}

form div input {
  flex: 1;
  min-width: 200px;
  width: calc(100% - 120px);
}

.button-container {
  display: flex;
  justify-content: center;
}

/* Modal Styles */
.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}

.modal-content, .notification-success {
  background: #f9f9f9;
  padding: 20px;
  border-radius: 10px;
  max-width: 400px;
  width: 100%;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  position: relative;
}

.notification-success {
  background-color: #efd6bd;
  color: #cc8259;
  border: 1px solid #cc8259;
  text-align: center;
}

.close-btn, .close-btn-success {
  position: absolute;
  top: 10px;
  right: 10px;
  background: transparent;
  border: none;
  font-size: 20px;
  cursor: pointer;
}

/* Page Layouts */
.default-page, .landing-page {
  margin: 20px;
  padding: 20px;
  background-color: #f8f8f8;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

/* Section Titles */
h2, h3 {
  margin-bottom: 10px;
  font-weight: bold;
  color: #000;
  border-bottom: 2px solid#67AD5B;
  padding-bottom: 10px;
}

/* Topics Section */
.topics {
  display: flex;
  justify-content: space-between;
  gap: 20px;
}

.topic-item {
  flex: 1;
  background-color: #f8f8f8;
  padding: 15px;
  border-radius: 4px;
  text-align: center;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  color: #000;
}

/* Footer */
.footer {
  text-align: center;
  color: #555;
  border-top: 1px solid #ddd;
  padding-top: 10px;
  margin-top: 20px;
  font-size: 0.9rem;
}
